@charset "UTF-8";

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Normalize ========================================================================== */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections ========================================================================== */

/**
  * Remove the margin in all browsers.
  */

body {
  margin: 0;
}

/**
  * Render the `main` element consistently in IE.
  */

main {
  display: block;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content ========================================================================== */

/**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics ========================================================================== */

/**
  * Remove the gray background on active links in IE 10.
  */

a {
  background-color: transparent;
}

/**
  * 1. Remove the bottom border in Chrome 57-
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */

b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */

small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content ========================================================================== */

/**
  * Remove the border on images inside links in IE 10.
  */

img {
  border-style: none;
}

/* Forms ========================================================================== */

/**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */

progress {
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */

textarea {
  overflow: auto;
}

/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
  */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive ========================================================================== */

/*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */

details {
  display: block;
}

/*
  * Add the correct display in all browsers.
  */

summary {
  display: list-item;
}

/* Misc ========================================================================== */

/**
  * Add the correct display in IE 10+.
  */

template {
  display: none;
}

/**
  * Add the correct display in IE 10.
  */

[hidden] {
  display: none;
}

/* /Normalize ========================================================================== */

/*-- Обнуление------------------------------------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

/*-- /Обнуление------------------------------------*/

/*-- Global-style ---------------------------------------*/

body._lock {
  overflow: hidden;
  margin: 0 auto;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-slider {
  width: 100%;
  height: 100%;
}

.page-slider__slide {
  overflow: hidden;
}

.swiper-pagination-vertical {
  height: 100%;
  max-height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-right: 30px;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.slide-bottom {
  position: absolute;
  bottom: 5px;
}

.slide-arrow-down {
  padding: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-screen__buttons {
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 5px;
  z-index: 5;
}

.small-screen__prev,
.small-screen__next {
  background-color: transparent;
  padding: 12px;
}

.small-screen .arrow-left,
.small-screen .arrow-right {
  width: 20px;
  height: 20px;
  fill: #fff;
}

/*-- /Global-style --------------------------------------*/

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 99;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 0 15px;
}

.logo__icon {
  margin-right: 10px;
}

.logo__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #FFF;
  letter-spacing: 1.5px;
  white-space: nowrap;
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

.menu__link:hover::after {
  width: 100%;
  -webkit-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

.header__btn {
  padding: 0 15px;
}

.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1.5px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 8px 25px;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #000;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__tel {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  white-space: nowrap;
  padding: 15px;
  position: relative;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.header__tel:hover {
  color: yellow;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.menu__icon {
  display: none;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  right: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
  width: 75%;
}

.menu__icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.menu__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.menu__icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.menu__icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.swiper {
  width: 100vw;
  height: 100vh;
}

._no-webp .intro{
  background-image: url(../img/slide-intro/intro-bg.jpg); }

.intro {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  background: -o-radial-gradient(50% 45.57%, 45.97% 54.43%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
  background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
  mix-blend-mode: normal;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 767px;
  z-index: 2;
}

.intro__title {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
}

.intro__img {
  max-width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  display: block;
  margin: 0 auto;
}

.intro__text {
  max-width: 325px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 40px;
}

.intro__social {
  width: 100%;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
}

.intro .facebook,
.intro .youtube,
.intro .instagram {
  fill: #fff;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.intro .facebook:hover,
.intro .youtube:hover,
.intro .instagram:hover {
  fill: #FB2A2A;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.intro .facebook:hover {
  fill: #3175DC;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.intro .youtube:hover {
  fill: #FB2A2A;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.intro .instagram:hover {
  fill: #BC5CDE;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.intro .arrow-down {
  fill: #fff;
  width: 30px;
  height: 25px;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.intro .arrow-down:hover {
  fill: #FF8A00;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

._no-webp .about{
  background-image: url(../img/slide-about/about-bg.jpg); }

.about {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.about__column {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__column--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
}

.about__title {
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 53px;
  padding-top: 120px;
  padding-left: 10px;
  height: 100%;
  padding-bottom: 50px;
}

.about__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  padding: 20px 10px;
  max-width: 460px;
}

.about__column-btn {
  display: inline-block;
  margin: 10px 10px;
  max-width: 120px;
  font-size: 12px;
  padding: 8px 15px;
  background-color: #fff;
  color: #000;
}

.about__column-btn:hover {
  background-color: transparent;
  color: #fff;
}

.about__column--right {
  height: 100vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 100px;
  padding-right: 60px;
}

.about__content {
  -ms-flex-item-align: end;
      align-self: end;
  position: relative;
}

.about__content::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  z-index: 0;
}

.about__offer {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: right;
  max-width: 285px;
  position: absolute;
  line-height: 120%;
  top: 80%;
  left: -20%;
  z-index: 3;
  max-width: 220px;
  font-size: 16px;
}

.about__slider {
  width: 560px;
  height: 300px;
  position: relative;
  z-index: 5;
}

.about__slide {
  position: relative;
  overflow: hidden;
  padding-bottom: 60%;
  z-index: 6;
}

.about__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__buttons {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 100%;
}

.about__prev {
  margin-right: -5px;
}

.about__prev,
.about__next {
  background-color: #fff;
  padding: 12px;
}

.about .arrow-left,
.about .arrow-right {
  width: 20px;
  height: 20px;
  fill: #1C1C1C;
}

.subpage-about {
  background-color: #345;
  width: 100vw;
  height: 100vh;
}

.subpage-about h1 {
  font-size: 80px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._no-webp .describe{
  background-image: url(../img/slide-about/about-bg.jpg); }

.describe {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.describe__container {
  max-width: 1440px;
}

.describe__inner {
  width: 100%;
  height: 100%;
}

.wide-screen {
  padding-top: 105px;
}

.wide-screen__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  position: relative;
}

.wide-screen__column {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

.wide-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.wide-screen__number {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  -ms-flex-item-align: end;
      align-self: end;
  margin-right: 8px;
}

.wide-screen__img-box {
  position: relative;
  height: 100%;
  max-width: 100%;
}

.wide-screen__img-box::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 12px;
  width: 100%;
  max-width: 350px;
  height: 100%;
  border: 2px solid #fff;
  z-index: 1;
}

.wide-screen__img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.wide-screen__img:hover {
  -webkit-transform: translate(12px, -12px);
      -ms-transform: translate(12px, -12px);
          transform: translate(12px, -12px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.wide-screen__img--modify {
  width: 100%;
  height: 100%;
  max-width: 349.06px;
  max-height: 209.44px;
}

.wide-screen__offer {
  margin-left: 35px;
}

.wide-screen__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  max-width: 205px;
  margin-bottom: 10px;
}

.wide-screen__text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 130%;
  max-width: 300px;
}

.line-1 {
  display: none;
}

.line-2 {
  display: none;
}

.line-3 {
  display: none;
}

.small-screen {
  display: none;
  height: 100vh;
  position: relative;
}

.small-screen__slider {
  position: relative;
  width: 100%;
  max-width: 991.98px;
  height: 100%;
}

.small-screen__column {
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 30px;
  margin: 0 auto;
}

.small-screen__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-screen__img-box::after {
  max-width: none;
}

.small-screen__img {
  max-width: 100%;
}

.small-screen__title {
  max-width: none;
}

.small-screen__text {
  max-width: none;
}

.small-screen__buttons {
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 5px;
  z-index: 5;
}

.small-screen__prev,
.small-screen__next {
  background-color: transparent;
  padding: 12px;
}

.small-screen .arrow-left,
.small-screen .arrow-right {
  width: 20px;
  height: 20px;
  fill: #fff;
}

._no-webp .feature{
  background-image: url(../img/slide-about/about-bg.jpg); }

.feature {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__container {
  width: 100%;
  max-width: 1440px;
}

.feature__title {
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 53px;
  margin-bottom: 100px;
  margin-left: 30px;
  padding-top: 100px;
  text-align: center;
}

.feature__inner {
  width: 100%;
  height: 100%;
}

.feature__wide-screen {
  display: block;
}

.feature__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px 150px;
  position: relative;
}

.feature__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

.feature__item {
  max-width: 280px;
  position: relative;
}

.feature__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 10px;
}

.feature__item-text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 130%;
}

.line__left-top {
  position: absolute;
  z-index: 5;
  top: 10%;
  right: -70%;
  width: 110%;
  height: 130%;
}

.line__right-top {
  position: absolute;
  top: 10%;
  left: -80%;
  width: 70%;
  height: 120%;
}

.line__left-bottom {
  position: absolute;
  top: -45%;
  left: 75%;
  width: 120%;
}

.line__right-bottom {
  position: absolute;
  top: -70%;
  right: 110%;
  height: 90%;
}

.feature-small {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.feature-small__buttons {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 15px;
  z-index: 5;
}

.feature-small__prev,
.feature-small__next {
  background-color: transparent;
  padding: 12px;
}

.feature-small .arrow-left,
.feature-small .arrow-right {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.feature-small__title {
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 53px;
  margin-left: 30px;
  padding-top: 70px;
  margin-bottom: 10px;
}

._no-webp .feature-small__slider{
  background-image: url(../img/slide-intro/intro-dron.png); }

.feature-small__slider {
  width: 95%;
  height: 80vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.feature-small__slide {
  padding: 50px 30px;
}

.feature-small__row--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.feature-small__item-title {
  white-space: nowrap;
  margin-right: 10px;
  font-size: 18px;
}

.feature-small__item-text {
  padding-right: 15px;
  font-size: 12px;
}

.small-line__left-top {
  position: absolute;
  top: 10%;
  right: -45%;
  width: 80%;
  height: 170%;
}

.small-line__right-top {
  position: absolute;
  top: 15%;
  left: -53%;
  width: 85%;
  height: 200%;
}

._no-webp .faq{
  background-image: url(../img/slide-about/about-bg.jpg); }

.faq {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.faq__inner {
  position: relative;
  padding-right: 40px;
}

.faq__title {
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 53px;
  padding-top: 150px;
  margin-bottom: 50px;
  text-align: center;
}

.faq__img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*--- spollers ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.block {
  max-width: 991px;
  margin: 0 auto;
  position: relative;
}

.block__item {
  margin: 0px 0px 10px 0px;
  position: relative;
}

.block__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

.block__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: left;
  font-size: 24px;
  line-height: 150%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px;
  position: relative;
  text-transform: none;
}

.block._init .block__title {
  cursor: pointer;
}

.block._init .block__title {
  padding: 20px 80px 20px 40px;
}

.block._init .block__title::before,
.block._init .block__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #000;
  position: absolute;
  right: 20px;
  top: 35px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  z-index: 5;
}

.block._init .block__title::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.block._init .block__title._active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.block__text {
  padding: 20px 80px 30px 40px;
  line-height: 130%;
  background: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
}

/*--- /spollers ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.faq-small {
  position: relative;
  width: 90vw;
  height: 65vh;
  display: none;
}

.faq-small__slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.faq-small__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 20px;
  text-align: center;
}

.faq-small__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.faq-small__img {
  padding-top: 30px;
  max-width: 100%;
  max-height: 100%;
  margin-left: -15px;
  position: absolute;
  bottom: 0;
  left: -15px;
}

.faq-small__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: -15px;
  bottom: 0;
  z-index: 5;
}

.faq-small__prev,
.faq-small__next {
  background-color: transparent;
  padding: 12px;
}

.faq-small .arrow-left,
.faq-small .arrow-right {
  width: 20px;
  height: 20px;
  fill: #fff;
}

._no-webp .contacts{
  background-image: url(../img/slide-about/about-bg.jpg); }

.contacts {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.contacts__container {
  padding-left: 30px;
}

.contacts__title {
  font-weight: normal;
  font-size: 44px;
  line-height: 53px;
  padding-top: 120px;
  margin-bottom: 60px;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.contacts__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 15px;
}

.contacts__item-phone,
.contacts__item-email {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 130%;
  display: block;
  color: #fff;
  margin-bottom: 10px;
}

.contacts__item-phone:last-child,
.contacts__item-email:last-child {
  margin-bottom: 0;
}

.contacts__feedback {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
  width: 100%;
  padding: 0 30px;
}

.contacts__feedback-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 15px;
}

.contacts__feedback-text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 130%;
  margin-bottom: 15px;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contacts__inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__input {
  padding: 15px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  width: 50%;
}

.contacts__input:not(:last-child) {
  margin-right: 10px;
}

.contacts__textarea {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  max-width: 100%;
  min-height: 50px;
  max-height: 140px;
  resize: vertical;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.contacts__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contacts__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  padding-right: 55px;
  padding-left: 15px;
}

.contacts__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: end;
}

.contacts__social-item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts .facebook,
.contacts .youtube,
.contacts .instagram {
  fill: #fff;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.contacts .facebook:hover,
.contacts .youtube:hover,
.contacts .instagram:hover {
  fill: #FB2A2A;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.contacts .facebook:hover {
  fill: #3175DC;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.contacts .youtube:hover {
  fill: #FB2A2A;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.contacts .instagram:hover {
  fill: #BC5CDE;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.contacts-small {
  display: none;
  width: 100%;
  position: relative;
}

.contacts-small__slider {
  width: 100%;
  height: 70vh;
}

.contacts-small__slide {
  width: 100%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-small__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-small__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-small__item-phone {
  font-size: 12px;
}

.contacts-small__item-email {
  font-size: 12px;
}

.contacts-small__feedback {
  padding-right: 45px;
}

.contacts-small__bottom {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contacts-small__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.contacts-small__buttons {
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 10px;
  z-index: 5;
  display: none;
}

.contacts-small__prev,
.contacts-small__next {
  background-color: transparent;
  padding: 12px;
}

.contacts-small__arrow-left,
.contacts-small__arrow-right {
  width: 20px;
  height: 20px;
  fill: #fff;
}

@media (min-width: 767.98px) {
  .small-screen__btn {
    display: none;
  }
}

@media (min-width: 1199.98px) {
  .wide-screen__offer {
    padding-right: 70px;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .faq-small__img {
    display: none;
  }
}

@media (min-width: 1440px) {
  .line-1 {
    display: block;
    position: absolute;
    top: -10px;
    left: 28%;
    width: 320px;
    z-index: 3;
  }

  .line-2 {
    display: block;
    position: absolute;
    bottom: -50%;
    left: 18%;
    z-index: 3;
  }

  .line-3 {
    display: block;
    position: absolute;
    bottom: 45%;
    left: 34%;
    z-index: 3;
  }
}

@media (max-width: 1440px) {
  .swiper-pagination-vertical {
    margin-right: 15px;
  }

  .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .header {
    padding: 15px 0;
  }

  .logo {
    padding: 0 10px;
  }

  .intro {
    min-height: 650px;
  }

  .intro__inner {
    min-height: 650px;
  }

  .intro__title {
    font-size: 65px;
    padding-top: 0;
  }

  .intro__img {
    padding: 0;
  }
}

@media (max-width: 1300px) {
  .logo__text {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .header {
    padding: 10px 0;
  }

  .about__text {
    padding: 10px 10px;
    font-size: 16px;
  }

  .about__slider {
    width: 450px;
    height: 270px;
  }

  .wide-screen__img-box {
    width: 80%;
  }

  .wide-screen__text {
    font-size: 12px;
  }

  .feature__title {
    font-size: 30px;
  }

  .line__left-top {
    top: 10%;
    right: -35%;
    width: 70%;
    height: 130%;
  }

  .line__right-top {
    top: 10%;
    left: -50%;
    width: 40%;
    height: 120%;
  }

  .line__left-bottom {
    top: -45%;
    left: 75%;
    width: 80%;
    height: 58%;
  }

  .line__right-bottom {
    top: -50%;
    right: 105%;
    height: 70%;
  }
}

@media (max-width: 1199px) {
  .about__offer {
    top: -28%;
    left: 5%;
    text-align: left;
  }
}

@media (max-width: 1024px) {
  .about__column--left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .about__title {
    font-size: 35px;
    padding-bottom: 40px;
  }

  .about__column--right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media (max-width: 991.98px) {
  .swiper-pagination-vertical {
    margin-right: 10px;
  }

  .slide-arrow-down {
    padding: 20px 20px 5px;
  }

  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .logo {
    padding: 0 15px 0 30px;
  }

  .header__menu {
    display: none;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 15px;
    cursor: pointer;
    right: 0;
  }

  .menu__icon {
    height: 20px;
    margin-right: 30px;
  }

  .intro {
    min-height: 620px;
  }

  .intro__inner {
    min-height: 620px;
  }

  .about__inner {
    min-height: 530px;
  }

  .about__title {
    font-size: 25px;
    padding-top: 80px;
    margin: 0;
  }

  .about__text {
    padding: 10px;
  }

  .about__column--right {
    padding-right: 50px;
  }

  .about__offer {
    top: -35%;
  }

  .about__slider {
    width: 400px;
    height: 220px;
  }

  .describe__container {
    padding: 0;
  }

  .wide-screen {
    display: none;
  }

  .small-screen {
    display: block;
    width: 100vw;
  }

  .small-screen__column {
    padding: 30px 45px 30px 20px;
  }

  .small-screen__offer {
    max-width: 300px;
  }

  .small-screen__text {
    font-size: 16px;
  }

  .feature__container {
    padding: 0;
  }

  .feature__title {
    display: none;
  }

  .feature__wide-screen {
    display: none;
  }

  .feature-small {
    display: block;
  }

  .contacts__container {
    padding: 0 45px 0 30px;
  }

  .contacts__title {
    margin-bottom: 30px;
  }

  .contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
    margin-bottom: 30px;
  }

  .contacts__item {
    margin-right: 20px;
  }

  .contacts__feedback {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
    margin-bottom: 30px;
  }

  .contacts__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 10px;
    padding: 20px 0;
  }

  .contacts__social-item:not(:last-child) {
    margin-bottom: 0;
  }

  .contacts-small__feedback {
    padding-right: 25px;
  }
}

@media (max-width: 767.98px) {
  .intro__title {
    padding-top: 0;
  }

  .about__column--left {
    padding-bottom: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
  }

  .about__title {
    font-size: 20px;
    line-height: 120%;
  }

  .about__text {
    max-width: none;
    font-size: 14px;
  }

  .about__column-btn {
    display: inline-block;
  }

  .about__column--right {
    padding: 30px 50px 60px 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
  }

  .about__content::after {
    top: -15px;
    left: 15px;
  }

  .about__offer {
    top: 100%;
    font-size: 14px;
    left: 0;
    line-height: 120%;
    padding: 10px;
    text-align: left;
  }

  .about__slider {
    width: 310px;
    height: 200px;
  }

  .small-screen__offer {
    max-width: 200px;
  }

  .small-screen__title {
    font-size: 18px;
  }

  .small-screen__text {
    display: none;
  }

  .small-screen__btn {
    display: block;
    margin: 15px 0;
  }

  .faq__wide {
    display: none;
  }

  .block {
    display: none;
  }

  .faq-small {
    display: block;
  }

  .contacts__container {
    padding: 0 35px 0 15px;
  }

  .contacts__wide {
    display: none;
  }

  .contacts-small {
    display: block;
    position: relative;
  }

  .contacts-small__info {
    padding: 15px;
  }

  .contacts-small__item-title {
    font-size: 18px;
  }

  .contacts-small__feedback {
    padding: 10px;
  }

  .contacts-small__buttons {
    display: inline-block;
  }
}

@media (max-width: 575.98px) {
  .logo__icon img {
    width: 40px;
  }

  .btn {
    padding: 5px 15px;
  }

  .header__tel {
    display: none;
  }

  .intro {
    min-height: 590px;
  }

  .intro__inner {
    min-height: 590px;
  }

  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 450px;
    min-height: 320px;
  }

  .about__column--left {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: right;
  }

  .about__text {
    display: none;
  }

  .about__column-btn {
    max-height: 30px;
    margin-top: 80px;
  }

  .about__column--right {
    padding: 30px 35px 60px 10px;
    -ms-flex-item-align: end;
        align-self: end;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .about__content {
    max-width: 100%;
  }

  .about__content::after {
    top: -12px;
    left: 12px;
  }

  .about__slider {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .small-screen__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .small-screen__number {
    margin-right: -5px;
    font-size: 25px;
  }

  .small-screen__img-box {
    width: 90%;
  }

  .small-screen__offer {
    margin: 15px 0;
    max-width: none;
  }

  .small-screen__text {
    display: block;
  }

  .small-screen__btn {
    margin: 15px 0;
  }

  .feature-small__title {
    font-size: 30px;
  }

  .feature-small__slide {
    padding: 15px;
  }

  .small-line__left-top {
    top: 110%;
    right: -8%;
    width: 60%;
    height: 70%;
  }

  .small-line__right-top {
    top: 110%;
    left: -10%;
    width: 55%;
    height: 100%;
  }

  .faq__title {
    font-size: 30px;
  }

  .faq-small__text {
    padding-right: 20px;
  }

  .contacts-small__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts-small__bottom {
    left: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 424.98px) {
  .intro {
    min-height: 530px;
  }

  .intro__inner {
    min-height: 530px;
  }

  .intro__title {
    font-size: 50px;
    padding-top: 0;
  }

  .about__offer {
    font-size: 12px;
    max-width: 200px;
  }

  .small-line__left-top {
    display: none;
  }

  .small-line__right-top {
    display: none;
  }

  .faq-small__img {
    max-width: 80%;
  }

  .contacts-small__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-height: 767.98px) {
  .header {
    padding: 10px 0;
  }

  .intro {
    min-height: 630px;
  }

  .intro__inner {
    min-height: 630px;
  }

  .intro__title {
    padding-top: 0;
  }

  .intro__img {
    max-width: 90%;
  }

  .intro__text {
    margin-bottom: 20px;
  }

  .intro__social {
    max-width: 200px;
  }

  .intro .facebook,
  .intro .youtube,
  .intro .instagram {
    width: 30px;
    height: 30px;
  }

  .about__column--left {
    padding-bottom: 30px;
  }

  .about__text--2 {
    display: none;
  }

  .about__column--right {
    padding-bottom: 65px;
  }

  .feature__container {
    height: 100%;
  }

  .feature__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 35px;
  }

  .feature__wide-screen {
    padding-top: 100px;
  }

  .feature-small__slider {
    background-size: 80%;
  }

  .faq__title {
    padding-top: 70px;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .block__title {
    font-size: 20px;
  }

  .block._init .block__title {
    padding: 15px 80px 15px 40px;
  }

  .block._init .block__title::before,
  .block._init .block__title::after {
    top: 30px;
  }

  .block__text {
    font-size: 16px;
  }

  .faq-small {
    height: 75vh;
  }

  .contacts__title {
    padding-top: 80px;
  }

  .contacts .facebook,
  .contacts .youtube,
  .contacts .instagram {
    width: 30px;
    height: 30px;
  }

  .contacts-small__slider {
    height: 60vh;
  }
}

@media (max-height: 575.98px) {
  .intro {
    min-height: 425px;
  }

  .intro__inner {
    min-height: 425px;
  }

  .intro__title {
    font-size: 55px;
  }

  .intro__img {
    max-width: 50%;
  }

  .intro__text {
    font-size: 14px;
  }

  .intro .facebook,
  .intro .youtube,
  .intro .instagram {
    width: 20px;
    height: 20px;
  }

  .intro .arrow-down {
    width: 20px;
    height: 15px;
  }

  .about__column--left {
    padding-bottom: 0;
  }

  .about__title {
    padding-top: 80px;
    height: 25%;
  }

  .about__text {
    padding: 10px;
  }

  .about__text--2 {
    display: none;
  }

  .about__text--2 {
    -ms-flex-item-align: end;
        align-self: end;
  }

  .about__column--right {
    padding-top: 0;
  }

  .about__offer {
    left: 0;
    top: 100%;
    text-align: left;
  }

  .about__slider {
    width: 350px;
    height: 220px;
  }

  .wide-screen {
    display: none;
  }

  .small-screen {
    display: block;
  }

  .small-screen__number {
    display: none;
  }

  .small-screen__img-box {
    width: 66%;
  }

  .small-screen__text {
    display: none;
  }

  .feature-small__title {
    padding-top: 50px;
    margin-bottom: 0;
  }

  .feature-small__slider {
    background-size: 60%;
  }

  .feature-small__slide {
    padding: 15px;
  }

  .feature-small__item {
    max-width: none;
  }

  .small-line__left-top {
    display: none;
  }

  .small-line__right-top {
    display: none;
  }

  .faq__wide {
    display: none;
  }

  .block {
    display: none;
  }

  .faq-small {
    display: block;
    height: 68vh;
  }

  .faq-small__img {
    padding-top: 20px;
    display: none;
  }

  .contacts__title {
    font-size: 25px;
    padding-top: 50px;
    margin-bottom: 0;
  }

  .contacts__wide {
    display: none;
  }

  .contacts .facebook,
  .contacts .youtube,
  .contacts .instagram {
    width: 20px;
    height: 20px;
  }

  .contacts-small {
    display: block;
    position: relative;
  }

  .contacts-small__slider {
    height: 50vh;
  }

  .contacts-small__item {
    margin-bottom: 10px;
  }

  .contacts-small__feedback {
    margin-bottom: 5px;
  }

  .contacts-small__feedback-title {
    margin-bottom: 10px;
  }

  .contacts-small__feedback-text {
    display: none;
  }

  .contacts-small__textarea {
    margin-bottom: 10px;
  }

  .contacts-small__buttons {
    display: inline-block;
  }
}

@media (max-height: 424.98px) {
  .intro {
    min-height: 320px;
  }

  .intro__inner {
    min-height: 320px;
  }

  .intro__title {
    font-size: 30px;
    padding-top: 0;
  }

  .intro__text {
    font-size: 12px;
    margin: 5px;
  }

  .intro__arrow {
    padding-top: 10px;
  }

  .about__title {
    margin-bottom: 0;
    height: 18%;
  }

  .about__slider {
    width: 300px;
    height: 180px;
  }

  .small-screen__column {
    padding-top: 100px;
  }

  .small-screen__img-box {
    width: 60%;
  }

  .feature-small__title {
    font-size: 30px;
  }

  .feature-small__slider {
    height: 73%;
  }

  .feature-small__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .faq-small {
    height: 57vh;
  }

  .contacts-small__slider {
    height: 100%;
  }

  .contacts-small__info {
    margin-bottom: 20px;
  }

  .contacts-small__item-title {
    margin-bottom: 5px;
  }

  .contacts-small__item-phone {
    margin-bottom: 5px;
  }

  .contacts-small__item-email {
    margin-bottom: 5px;
  }

  .contacts-small__bottom {
    bottom: -20px;
  }
}

@media (orientation: portrait) {
  .intro .arrow-down {
    margin-bottom: 60px;
  }

  .about__column--right {
    padding-bottom: 120px;
  }
}

@media (min-height: 767.98px) {
  .wide-screen {
    padding-top: 190px;
  }

  .wide-screen__row {
    margin-bottom: 100px;
  }

  .contacts-small__info {
    margin-bottom: 50px;
  }
}

@media (min-height: 991.98px) {
  .wide-screen__row {
    margin-bottom: 150px;
  }
}

@media (max-height: 991.98px) {
  .feature__title {
    margin-left: 0;
    margin-bottom: 30px;
    padding-top: 70px;
  }
}

@media (max-height: 600px) {
  .feature__title {
    display: none;
  }

  .feature__wide-screen {
    display: none;
  }

  .feature-small {
    display: block;
  }
}

._webp .intro{ background-image: url(../img/slide-intro/intro-bg.webp); }

._webp .about{ background-image: url(../img/slide-about/about-bg.webp); }

._webp .describe{ background-image: url(../img/slide-about/about-bg.webp); }

._webp .feature{ background-image: url(../img/slide-about/about-bg.webp); }

._webp .feature-small__slider{ background-image: url(../img/slide-intro/intro-dron.webp); }

._webp .faq{ background-image: url(../img/slide-about/about-bg.webp); }

._webp .contacts{ background-image: url(../img/slide-about/about-bg.webp); }